<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}| TaskApp</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'task:home' %}">HOME</a>
            </li>
            <li>
                <a href="{% url 'users:logout-user' %}">LOGOUT</a>
            </li>
            <li>
                <a href="{% url 'task:add_category' %}">Create New Task Category</a>
            </li>
            <li>
                <a href="">ACHIEVEMENTS</a>
            </li>
            <li>
                <a href="">ANALYTICS & REPORTING</a>
            </li>
            <li>
                <a href="">NOTIFICATIONS</a>
            </li>

        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>