{% extends 'task/_base.html' %}

{% block title %}Tasks{% endblock title %}

{% block content %} 
    <h2>Tasks in {{category}} Category</h2>
    <div>
        <ul>
            {% for task in tasks %}
            <li>
                {{ task.name }} - {{ task.description }} - Due: {{ task.due_date }}
                <a href="">
                    {% if task.is_done %} Mark as Undone {% else %} Mark as Done {% endif %}
                </a>
                </li>
            {%empty%}
            <p>No tasks</p>
            {%endfor%}
        </ul>
    </div>

{% endblock content %}